@media screen and (max-width: 800px) and (min-width: 300px) {
    
  .you-lost,
  .you-won{
    transition: all 0.3s;
    opacity: 1;
    padding: 1.2rem;
    font-family: 'Fredoka One';
    border: none;
    position: absolute;
    font-weight: 200;
    color: #fdfdfd;

  }
  
  .you-lost{  
         font-size: 1.2rem;
       bottom: 245px;
       right: 145px;
      }
    
      .you-won{
         font-size: 2.2rem;
       bottom: 235px;
       right: 140px;
      }

      #restart-btn{
        transition: all 0.3s;
        cursor: pointer;
       opacity: 1;
          border-radius: 10px;
          padding: 1.2rem;
          font-size: 1.2rem;
          font-family: 'Fredoka One';
          font-weight: 200;
         color: #fdfdfd;
          background-color:#395ec2 ;
          border: 2px solid white;
          box-shadow: rgb(7, 65, 124) 1.5px 1.5px 1.5px 0px inset, rgba(7, 65, 124) -1.5px -1.5px 1.5px 1px inset;
        position: absolute;
        bottom: 168px;
        right: 126px;
        
      }
  }


