
#seconds,
#tens{
    margin-top: 0.155rem;
}

#restart-btn{
  z-index: 999;
  transition: all 0.3s;
  cursor: pointer;
 opacity: 1;
    border-radius: 10px;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-family: 'Fredoka One';
    font-weight: 200;
   color: #fdfdfd;
    background-color:#395ec2 ;
    border: 2px solid white;
    box-shadow: rgb(7, 65, 124) 1.5px 1.5px 1.5px 0px inset, rgba(7, 65, 124) -1.5px -1.5px 1.5px 1px inset;
  position: absolute;
  bottom: 250px;
  right: 127px;
  
}



.you-lost{
  transition: all 0.3s;
 opacity: 1;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-family: 'Fredoka One';
    font-weight: 200;
   color: #fdfdfd;
    background-color:#2c4ea5  ;
    border: none;
  position: absolute;
  top: 120px;
  right: 115px;
}

.you-won{
  transition: all 0.3s;
  opacity: 1;
     padding: 1.2rem;
     font-size: 1.2rem;
     font-family: 'Fredoka One';
     font-weight: 200;
    color: #fdfdfd;
     background-color:#2c4ea5  ;
     border: none;
   position: absolute;
   top: 120px;
  right: 115px;

}


.timer{
    display: flex;
    width: 6.5rem;
    border-radius: 10px;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Fredoka One';
    font-weight: 200;
   color: #fdfdfd;
    background-color:#395ec2 ;
    border: none;
    box-shadow: rgb(7, 65, 124) 1.5px 1.5px 1.5px 0px inset, rgba(7, 65, 124) -1.5px -1.5px 1.5px 1px inset;
    margin-left: 38px;
}