body{
    background-color: #2c4ea5;
}

h2{
    font-family: 'Fredoka One';
}

.container {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border: 15px solid   #4060ad;
 margin: auto;
 text-align: center;
  margin-top: 80px;
    width: 400px;
    height: 750px;
    border-radius: 50px;
}

.title-h2{
    display: flex;
    color: white;
    padding-left: 40px;
    padding-top: 20px;

}

span{
    font-family: 'Fredoka One';
    color: #fdfdfd;

}

table{
    padding-top: 70px;
    margin: auto
}

.cell{
    border-radius: 5px;
    background-color:#2c4ea5 ;
    border: 1.8px solid #fdfdfd ;
    width: 70px;
    height: 70px;
    
}

.mine{
    /* background-color: #af0001; */
}

.shown{
    
    /* background-color: #4060ad; */
}

/* .not-shown{
    background-color: #4060ad;
    
} */